.menu a {
    text-decoration: none;
    color: #3f84d6;
    padding: 15px;
    margin-left: 15px;
}

.menu a:hover {
    background: linear-gradient(100deg, #3f84d6 0%, #000417 100%);
    color: #000417;
}

