
.card-box {
    margin-left: 15px;
    background-color: #000417;
    text-align: center;
    line-height: 0.2;
}
.ultima-atualizacao {
    font-size: 10px;
    margin-bottom: auto;
    color: #28a745;
    line-height: 1.3;
}

p.nome-titulo {
    font-size: 16px;
}

p.valor {
    font-size: 16px;
}

.texto {
    color: #000417;
    text-decoration: none;
}


a.texto {
    text-decoration: none;
    color: #000417;
}

button.texto {
    text-decoration: none;
    color: #28a745;
}

 button.texto:hover {
    background: linear-gradient(100deg, #28a745 0%, #000417 85%);
    color: #000417;
}
